{% extends 'main/shablon_2.html' %}
{% load static %}
{% block content %}
    <div class="registration-container">
        <h1>Регистрация</h1>
        {% if messages %}
            <ul class="field-error">
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form id="registration_form" method="POST" class="registration-form">
            {% csrf_token %}

            <label for="username">Имя пользователя:</label>
            <input
                    type="text"
                    id="username"
                    minlength="2"
                    maxlength="32"
                    name="username"
                    value="{{ username }}"
                    required
                    class="text_3">

            <label for="lastname">Фамилия:</label>
            <input
                    type="text"
                    id="lastname"
                    minlength="2"
                    maxlength="32"
                    name="lastname"
                    value="{{ lastname }}"
                    required
                    class="text_3">

            <label for="surname">Отчество:</label>
            <input
                    type="text"
                    id="surname"
                    minlength="2"
                    maxlength="32"
                    name="surname"
                    value="{{ surname }}"
                    required
                    class="text_3">

            <label for="phone">Номер телефона:</label>
            <input 
                    type="tel" 
                    id="phone" 
                    name="phone" 
                    value="{{ phone }}"
                    required 
                    class="text_3" 
                    pattern="\+375?[0-9]{9}"
                    placeholder="+375337588562">

            <label for="email">Email:</label>
            <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    value="{{ email }}"
                    required 
                    class="text_3">

            <button type="submit" class="btn_style mr">Записаться</button>
        </form>
    </div>
{% endblock %}
